{% extends "base-view.html" %}
{% block title %}关注清单{% endblock %}
{% block content %}
<!-- 表格悬浮固定表头 -->
<div id="fixedHeader">
    <div class="fixed-header-inner">
        <div class="fixed-header-row" id="fixedHeaderRow">
            <!-- JS动态克隆原生表头内容与样式 -->
        </div>
    </div>
</div>
<div class="table-responsive" id="tableWrap">
    <table class="table table-stock table-hover" id="stockTable">
        <!-- 表格固定表头 -->
        <thead id="originalThead">
            <tr>
                <th>代码</th>
                <th>名称</th>
                <th>价格</th>
                <th>计划</th>
                <th>胜率</th>
                <th>涨幅</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="table-code-text">100001</span></td>
                <td>股票01</td>
                <td>3015</td>
                <td>51</td>
                <td>53%</td>
                <td>-2.40%</td>
            </tr>
            <tr>
                <td><span class="table-code-text">100002</span></td>
                <td>股票02</td>
                <td>3015</td>
                <td>51</td>
                <td>53%</td>
                <td>-2.40%</td>
            </tr>
            <tr>
                <td><span class="table-code-text">100003</span></td>
                <td>股票03</td>
                <td>3015</td>
                <td>51</td>
                <td>53%</td>
                <td>-2.40%</td>
            </tr>
            <tr>
                <td><span class="table-code-text">100004</span></td>
                <td>股票04</td>
                <td>3015</td>
                <td>51</td>
                <td>53%</td>
                <td>-2.40%</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mt-3 text-muted text-center text-sm-start" style="font-size: 12px; color: #a0aec0;">
    共 ** 条记录
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script type="module">
    import { baseInit} from "{% static 'base/js/base.js' %}";
    import { tableHeaderInit } from "{% static 'stock/js/table.js' %}";
    document.addEventListener('DOMContentLoaded', () => {
        baseInit();
        tableHeaderInit();
    });
</script>
{% endblock %}